.overwrite {
  line-height: 13px;
  /*display: block;*/
  /*font-size: 32px;*/
  font-family: 'OpenSans', 'Snowburst One', Arial;
  /*word-break: break-all;*/
}

#textoutput {
  display: block;
    text-align: justify;
    text-justify: inter-word;
  font-size: 48px;
  word-break: break-all;
  /*font-family: 'OpenSans', 'Snowburst One', Arial;*/
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/OpenSans-Regular.woff2) format('woff');
}
