*{
    margin:0;
    padding:0;
}

body {
    background-color:#bababa;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
}

.container {
    color:#000;
    margin:20px auto;
    position:relative;

    text-align:center;

    display:block;

    margin-left: auto;
    margin-right: auto;
    /* width:730px; */
}


#theimage {
  /*display:table;*/
  /*width: 100%;*/
  /*max-width:100%*/
  /*height: auto;*/

  height:90%; /*Ensure the width scales to the width of the parent container*/
  width:auto; /* Not required, but sometimes is nice to ensure the width not being overridden by other factors like browser quirks */
  /*height: auto;*/

  /*cursor:crosshair;*/
}

.theimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#panel {
    cursor:crosshair;
}

#swImage {
    border:1px #000 solid;
    box-shadow:2px 3px 3px #444444;
    cursor:pointer;
    height:25px;
    line-height:25px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#swImage:hover {
    margin-left:2px;
}
