body {
    background-color: #f8f8f8;
}

textarea {
  /*width: 450px;*/
  width: 100%;
  /*height: 150px;*/
  height: 4em;
}

#fonturl {
  width: 60%;
}

.dynamicfont {
  font-family: 'dynamicfont';
}

#textoutput {
  display: block;
  /*font-size: 32px;*/
  /*font-family: 'OpenSans', 'Snowburst One', Arial;*/
  /*word-break: break-all;*/
}

#textcanvas {
  
}

.bordered {
  border:1px solid black;
}

/*@font-face {
  font-family: 'dynamicfont';
  src: local('WOFF2'), local('WOFF2-Regular'), url(../fonts/woff2.woff2) format('woff');
}*/

@font-face {
  font-family: 'WOFF2';
  font-style: normal;
  font-weight: 400;
  src: local('WOFF2'), local('WOFF2-Regular'), url(../fonts/woff2.woff2) format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/OpenSans-Regular.woff2) format('woff');
}

@font-face {
  font-family: 'Snowburst One'; /* give your font a name to reference it by later on! */
  src: url(http://themes.googleusercontent.com/static/fonts/snowburstone/v1/zSQzKOPukXRux2oTqfYJjIkaQb-UsZVONjobs91YQtw.woff); 
  /* use src to point to the location of your custom font could be from your local server folder (like ./fonts/) or a remote location. */
}

/*example*/
/*@font-face {
  font-family: 'MyWebFont';
  url('webfont.woff2') format('woff2'), 
  url('webfont.woff') format('woff'), 
  url('webfont.ttf')  format('truetype'),
}*/

